<!DOCTYPE html PUBLIC>
<html>
<head>
<meta charset="utf-8">
<title>MAZE 5x5</title>
<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
</head>
<body>
	<li>CMPT383 Keenan Byun 301381767 Final Project</li>
	<li>MAZE GUIDE</li>
	<li>1. Press start button to set start position and goal position(random).</li>
	<li>2. Build a maze as clicking the board. Black color means that the area is the wall now(initial walls are built at the first time. You can modify it).</li>
	<li>(if there is no path between start position and goal position, "no path" alert will pop up)</li>
	<li>3. Press find button to find the shortest paths.</li>
	<li>5. Press F5 to reset.</li>
    <table id="grid" border = "1" width=500px height=500px>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
    </table>
	<button id="start">Start</button>
	<button id="find" style="display: none;">find</button>
	<script type="text/javascript" src="{{ url_for('static', filename='maze.js') }}"></script>
</body>
</html>